.tabs-container {
	position: fixed;
	width: 100%;
	background-color: #131212;
	border-bottom: 1px solid #F7E734;
	z-index: 1000;
}
 
.tabs {
	display: flex;
	overflow-x: auto;
	white-space: nowrap;
	
}

.tab {
	flex: 0 0 auto;
	padding: 10px 12px;
	cursor: pointer;
	text-align: center;
     color: #bababa;
	border-right: 1px solid #3f3e39;
}

.tab:last-child {
	border-right: none;
}

.tab:hover {
	background-color: #636363;
}

.tab.active {
	
    font-weight: bolder;
    font-size: medium;
    color: #F7E734;
}

.content {
	margin-top: 20px;
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.day-content.active {
	display: block;
}

.tabs::-webkit-scrollbar {
	display: none;
}

.tabs {
	-ms-overflow-style: none;
	scrollbar-width: none;

}

.container{
	width: 100%;
	padding: 35px 10%;
}
.container{
	padding-right: calc(10% - 30px);
}
main.row{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
}
.col header.title{
	font-family: helvetica;
	color: #F7E734;
	padding: 0px 0px 20px 30px;
}
.col .contents{
	padding: 0px 30px;
	border-left: 2px solid #bababa;
	
}
.col .contents .box{
	position: relative;
	padding: 20px;
	border: 1px solid #464545;
    border-radius: 8px;
	background-color: #1e1e1e;
	cursor: pointer;
	transition: all 0.4s;
	margin-bottom: 15px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	text-align: center;
	max-width: 500px;
	width: 100%;
}
.col .contents .box:hover{
	box-shadow: 0px 3px 12px 0px rgb(87, 87, 87);
	border: 1px solid transparent;
}
.col .contents .box::before{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	right: calc(100% + 22px);
	top: 0;
	background-color: #F7E734;
	border: 2px solid white;
}
.box h4{
	position: relative;
	color: #555555;
}
.box h3{
	margin: 10px 0 5px 0;
	font-family: helvetica;
	color: #F7E734;
	font-size: 1.2rem;
}
.box p{
	margin: 8px 0 0;
	color: #bababa;
	line-height: 1.4;
}

@media(max-width: 768px){
	main.row{
		grid-template-columns: 1fr;
	}
	.row .col:nth-child(2){
		margin-top: 30px;
	}
}
.title{
     color: #F7E734;
     margin-bottom: 0px;;
}